<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.pest.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.nf147.pest.entity.Order">
    <id column="or_id" jdbcType="INTEGER" property="or_id" />
    <result column="or_petId" jdbcType="INTEGER" property="or_petId" />
    <result column="or_quantity" jdbcType="INTEGER" property="or_quantity" />
    <result column="or_shipDate" jdbcType="VARCHAR" property="or_shipDate" />
    <result column="or_status" jdbcType="VARCHAR" property="or_status" />
    <result column="or_complete" jdbcType="BIT" property="or_complete" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from petstore_order
    where or_id = #{or_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nf147.pest.entity.Order">
    insert into petstore_order (or_id, or_petId, or_quantity, 
      or_shipDate, or_status, or_complete
      )
    values (#{or_id,jdbcType=INTEGER}, #{or_petId,jdbcType=INTEGER}, #{or_quantity,jdbcType=INTEGER}, 
      #{or_shipDate,jdbcType=VARCHAR}, #{or_status,jdbcType=VARCHAR}, #{or_complete,jdbcType=BIT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nf147.pest.entity.Order">
    update petstore_order
    set or_petId = #{or_petId,jdbcType=INTEGER},
      or_quantity = #{or_quantity,jdbcType=INTEGER},
      or_shipDate = #{or_shipDate,jdbcType=VARCHAR},
      or_status = #{or_status,jdbcType=VARCHAR},
      or_complete = #{or_complete,jdbcType=BIT}
    where or_id = #{or_id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select or_id, or_petId, or_quantity, or_shipDate, or_status, or_complete
    from petstore_order
    where or_id = #{or_id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select or_id, or_petId, or_quantity, or_shipDate, or_status, or_complete
    from petstore_order
  </select>
</mapper>