<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.pest.dao.PetstoreApiresponseMapper">
  <resultMap id="BaseResultMap" type="com.nf147.pest.entity.PetstoreApiresponse">
    <result column="ar_code" jdbcType="INTEGER" property="ar_code" />
    <result column="ar_type" jdbcType="VARCHAR" property="ar_type" />
    <result column="ar_message" jdbcType="VARCHAR" property="ar_message" />
  </resultMap>
  <insert id="insert" parameterType="com.nf147.pest.entity.PetstoreApiresponse">
    insert into petstore_apiresponse (ar_code, ar_type, ar_message
      )
    values (#{ar_code,jdbcType=INTEGER}, #{ar_type,jdbcType=VARCHAR}, #{ar_message,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select ar_code, ar_type, ar_message
    from petstore_apiresponse
  </select>
</mapper>